@model UsersViewModel

  <div class="form-group ">
        <label asp-for="Id" class="col-form-label"></label>
        <input type="text" readonly asp-for="Id"  class="form-control"/>
      
  </div>  
  <div class="form-group ">
        <label asp-for="Fname" class="col-form-label"></label>
        <input type="text" readonly asp-for="Fname"  class="form-control"/>
      
  </div>  
    
    <div class="form-group ">
        <label asp-for="Lname" class="col-form-label"></label>
        <input type="text" readonly asp-for="Lname"  class="form-control"/>
      
    </div>

    <div class="form-group ">
        <label asp-for="Email" class="col-form-label"></label>
        <input type="text" readonly asp-for="Email" class="form-control"/>
    </div>

    <div class="form-group ">
        <label asp-for="PhoneNumber" class="col-form-label"></label>
        <input type="text"  readonly asp-for="PhoneNumber" class="form-control"/>
    </div>  
    <div class="form-group ">
        <label asp-for="Role" class="col-form-label"></label>
        <input type="text"  readonly asp-for="Role" class="form-control"/>
    </div>
