@model DepartmentViewModel
@{
    ViewData["Title"] = "DeleltePage";
}

<h1>Delelte @Model.Name</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Delete">


    <partial name="PartialView/_DetailsDeletePartialView"/>
     
 <div>
    <input type="submit" value="Delete"  class="btn btn-danger"/> | 
    <a asp-action="Index" class="btn btn-secondary"> Back To List </a>

 </div>
</form>