@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Of @Model.Name</h1>

    <partial name="PartialView/_DetailsDeletePartialView"/>

    <a></a>
    <a asp-action="Edit" class="btn btn-light">Edit </a>
    <a asp-action="Index" class="btn btn-secondary"> Back To List </a>