@model DepartmentViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update @Model.Name </h1>



<form asp-action="Update">



     <partial  name="PartialView/_CreateUpDatePartialView"/>

    <div>
        <input type="submit" value="Save Update"  class="btn btn-primary"/> | 
        <a asp-action="Index" class="btn btn-light"> Back to List</a>
    </div>

</form>

@section ValidationScriptSection{

     <partial name="_ValidationScriptsPartial"/>

}