
@{
    ViewData["Title"] = "CheckYourPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}




<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body"> password Reset link has been sent to your Email </div>

    </div>
    <a href="https://mail.google.com/mail/u/0/#inbox"> Check Your Inbox </a>


</div>

